<ul class="list-group list-group-flush">
<% posts.each do |post| %>
  <li class="list-group-item d-flex align-items-center">
    <span>
      <div><strong><%= link_to post.title, post_path(post) %></strong></div>
      <span class="small mr-1">
        <%= post.publish_date.strftime('%Y-%m-%d') %>
      </span>
      |
      <span class="small ml-1">
        <%= pluralize(post.comments.count, 'comment') %>
      </span>
    </span>
    <span class="ml-auto">
      <%= link_to 'Edit', edit_post_path(post), class: "badge badge-secondary" %>
      <% if published %>
        <%= link_to 'Unpublish', unpublish_post_path(post), method: :patch, class: "badge badge-primary" %>
      <% else %>
        <%= link_to 'Publish', publish_post_path(post), method: :patch, class: "badge badge-primary" %>
      <% end %>
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "badge badge-danger" %>
    </span>
  </li>
<% end %>
</ul>
