<% comments.each do |comment| %>
  <div id="comment-<%= @comment.id %>">
    <h3><%= comment.name %></h3>
    <p><%= comment.content %></p>
    <div><%= comment.created_at %></div>
    <% if policy(comment).destroy? %>
      <%= link_to 'Delete', comment_path(comment), method: :delete %>
    <% end %>
  </div>
<% end %>
