<%= render 'posts/unpublished_notice', post: @post %>

<h1><%= @post.title %></h1>
<div class="post-meta">
  <%= @post.publish_date.strftime('%Y-%m-%d') %>
  <%= render 'posts/tag_list', tags: @post.tags %>
</div>
<article>
  <%= @post.content.html_safe %>
</article>

<div>
  <h2>Comments</h2>
  <% if @post.comments.empty? %>
    There are no comments yet.
  <% else %>
    <%= render 'shared/comment_list', comments: @post.comments %>
  <% end %>
  <% if @post.published? %>
    <%= simple_form_for([@post, @comment], remote: true) do |f| %>
      <%= f.input :name %>
      <%= f.input :content %>
      <%= f.submit "Post comment" %>
    <% end %>
  <% end %>
</div>
