<div class="row mb-5">
  <div class="col">
    <%= render 'posts/unpublished_notice', post: @post %>
    <% if @post.photo.attached? %>
      <%= image_tag @post.photo, alt: @post.title, class: 'featured-img mb-3 rounded' %>
    <% end %>
    <h1><%= @post.title %></h1>
    <% if policy(@post).edit? %>
      <div class="mb-3">
        <%= render 'shared/post_controls', post: @post %>
      </div>
    <% end %>
    <div class="d-flex align-items-center justify-content-between">
      <span>
        <strong>Posted on:</strong> <%= @post.publish_date.strftime('%Y-%m-%d') %>
      </span>
      <span class="ml-3">
        <%= render 'posts/tag_list', tags: @post.tags %>
      </span>
    </div>
    <article class="mt-5">
      <%= @post.content.html_safe %>
    </article>
  </div>

</div>


<div class="row">
  <div class="col-12 mb-3">
    <h2>Comments</h2>
  </div>
  <% if @post.comments.empty? %>
    <div class="col-12 col-md-8">
      <div class="alert alert-secondary">
        There are no comments yet.
      </div>
    </div>
  <% else %>
    <div class="col-12 col-md-8">
      <%= render 'shared/comment_list', comments: @post.comments %>
    </div>
  <% end %>
  <% if @post.published? %>
    <div class="col">
      <%= simple_form_for([@post, @comment], remote: true) do |f| %>
        <%= f.input :name %>
        <%= f.input :content %>
        <%= f.submit "Post comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
