<%= render 'unpublished_notice', post: @post %>

<h1><%= @post.title %></h1>
<div class="post-meta">
  <%= @post.publish_date %>
  <%= render 'tag_list', tags: @post.tags %>
</div>
<article>
  <%= @post.content %>
</article>
